<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Error page</title>
   </head>
   <body>
      <div class="cover">
         <h1>My apologies.</h1>
         <p>Hi, you got this message because this url is incorrect. </p>
         <p>Please try again.</p>

         <h1>Oops, something went wrong.</h1>
         <p>The URL you entered seems to be incorrect.</p>
         <p>Please check it and try again.</p>


         <h1>Sorry, an error occurred.</h1>
         <p>The URL you entered seems to be incorrect.</p>
         <p>Please verify the URL and try again.</p>
      </div>
   </body>
</html>